*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url('./assets/myimg.jpg'); /* Add the path to your image */
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat;

}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style-type: none;
}
/* Navbar Section */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;

}
.left{
    align-items: center;
    gap: 20px;
}
.left img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.left p{
    color: white;
    
}

.right ul {
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

/* Search Bar Button  */
.search-btn, .close-btn{
    width: 40px;
    height: 40px;
    background-color: rgb(22, 22, 22);
    font-size: 25px;
    color: white;
    border:none;
    cursor: pointer;
    position: absolute;
    transition: all 0.25s ease;
    
}
.close-btn{
    color: rgb(238, 8, 8);
    z-index: -1;
}

.search-box{
    width: 40px;
    height: 40px;
    padding: 15px;
    border-radius: 24px;
    background-color: black;
    color: white;
    font-size: 16px;
    outline: none;
    border: none;
    transition: width 0.25s ease;
}
.search{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 7px;
}
.active .search-box{
    width: 250px;
}
.active .search-btn{
    transform: translate(210px, 2px);
    background-color: transparent;
}
.active .close-btn{
    z-index: 0;
    transform: translate(253px,2px) scale(1.2);
    background-color: transparent;
}

/* Hero Section  */

.hero-section{
   display: flex;
   flex-direction: column;
   align-items: start;
   padding:258px 208px;
   /* justify-content: center; */
}
.hero-section h1{
    color: white;
    font-size: 4rem;
    text-shadow: 3px 3px 5px rgba(214, 211, 9, 0.7);
}
.hero-section p{
    font-size: 2rem;
    color: white;
}